/*** global styles ***/
:root {
  --grey: #c3c3c3;
  --blue: #9fd1ff;
  --pink: #ffafaf;
  --purple: #ccccff;
  --green: #ccffcc;
  --yellow: #f2e589;
  --b-radius-value: 0.313em;
}

* {
  color: #001324;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Alice", serif;
}

p,
li,
.project-btn {
  font-family: "Nunito", sans-serif;
}

section:not(#introSection) {
  margin-top: 5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 1.7em;
  text-align: center;
  margin: 0;
}

h4 {
  font-size: 1.4em;
  margin: 0.5em 0 0 0;
}

.nav-container nav ul li:hover,
.project-btn:hover,
.mobile-nav-container ul li:hover,
.about-tab-title {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*** desktop navigation styles***/
.nav-container {
  margin-top: 1em;
  height: 3em;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-container nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-container nav ul li {
  margin-right: 2em;
  font-weight: bolder;
  font-size: 1.3em;
  list-style-type: none;
  width: calc-size(fit-content, size + 1.563em);
  text-align: center;
  position: relative;
  top: 3px;
}

.contact-style {
  outline: 3px solid var(--blue);
  margin-right: 2.5em;
  padding: 0.25em 1.3em;
  border-radius: 0.938em;
}

/** mobile navigation styles**/
.mobile-nav-container {
  height: 10%;
  width: 100%;
  background-color: var(--blue);
  position: fixed;
  bottom: 0;
  /* for pieces in skill puzzle that are relative, navbar will go over it*/
  z-index: 1;
}

.mobile-nav-container ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5em 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 2%;
}

.mobile-nav-container ul li {
  height: 100%;
  width: 25%;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.mobile-nav-container ul li p {
  font-weight: bold;
  margin-top: 0.5em;
}

/** intro section styles **/
.intro-section {
  height: 95vh;
  width: 100vw;
}

.intro-puzzle-container {
  max-height: 40em;
  max-width: 40em;
  height: fit-content;
  width: fit-content;
  margin-left: 1em;
  margin-bottom: 0;
  flex-flow: row wrap;
}

.intro-piece {
  height: 17em;
  width: 17em;
}

/** about section styles **/
.about-container {
  height: fit-content;
  width: 85%;
  column-gap: 1.875em;
  flex-flow: row wrap;
}

.about-content-wrapper {
  height: fit-content;
  margin-top: 6.25em;
}

.about-photo {
  outline: 3px solid var(--blue);
  border-radius: var(--b-radius-value);
  height: 21.875em;
  width: 16.25em;
  position: relative;
}

.about-icon {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

.about-info {
  border-radius: var(--b-radius-value);
  max-width: 25em;
  height: 55%;
  width: 55%;
}

.about-tabs-container {
  border-radius: var(--b-radius-value) var(--b-radius-value) 0px 0px;
  width: 100%;
  height: 2.5em;
  display: flex;
}

.about-tab {
  border-radius: 0.625em 0.625em 0px 0px;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-tab-title {
  font-family: "Alice", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
}

.about-info-body {
  height: fit-content;
  width: 100%;
  border-radius: 0 0 0.625em 0.625em;
}

.about-values-tab > li:not(:last-child) {
  margin-bottom: 0.625em;
}

.about-info-text {
  text-align: left;
  font-weight: 500;
  font-size: 1.1em;
}

/** skills section styles **/
.skill-section {
  height: fit-content;
  width: 100%;
  padding-top: 0.5vh;
  background-color: var(--blue);
}

.skill-desktop-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.puzzle-row {
  height: fit-content;
}

.puzzle-row > img {
  width: 11em;
  height: 11em;
}

/** projects section styles **/
.project-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-container {
  max-width: 72em;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.25em 1.5em;
}

.project-tile-container {
  height: 28em;
  width: 20em;
  border: 1px solid var(--grey);
  border-radius: var(--b-radius-value);
  padding: 1%;
}

.project-tile-wrapper {
  width: 100%;
  height: 90%;
}

.project-image {
  height: 45%;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: var(--b-radius-value) var(--b-radius-value) 0 0;
}

.project-badges-wrapper {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

.project-badge {
  outline: 1px solid;
  padding: 1px 10px;
  border-radius: var(--b-radius-value);
  font-weight: bold;
  font-size: 14px;
  margin: 0 13px 0 0;
}

.project-btn {
  width: 100%;
  height: 10%;
  font-size: large;
  font-weight: bold;
  border-radius: 0.625em;
  border: none;
}

.project-title {
  font-size: 1.6em;
  margin: 0.4em 0;
  text-align: start;
}

/** contact section styles **/
.contact-section {
  padding-top: 3em;
  height: 40vh;
}
.contact-container {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
}
.contact-container h2 {
  text-align: left;
  padding-left: 2%;
  font-size: 2.7em;
}
.contact-content-wrapper {
  display: flex;
  justify-content: center;
  height: 59%;
  width: 100%;
}

.link-style {
  padding: 0.313em;
  height: 33%;
  max-width: 25em;
  width: 40%;
  border-radius: 0.625em;
  background-color: white;
  display: flex;
  align-items: center;
}

.link-title {
  margin-left: 0.5em;
  font-family: "Alice", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.last-link-title {
  margin-left: 0.7em;
  font-size: 1.7em;
}

.links-container {
  margin-top: 1%;
  height: 90%;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/** media queries **/
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* tablet views */
@media (min-width: 601px) and (max-width: 1023px) {
  /* intro section */
  .intro-section {
    flex-direction: column;
  }

  .intro-puzzle-container {
    max-height: 28em;
    max-width: 28em;
    margin: 0 auto;
  }

  .intro-piece {
    height: 13em;
    width: 13em;
  }

  h1 {
    text-align: center;
  }

  .puzzle-row > img {
    max-height: 11em;
    max-width: 11em;
  }
  .puzzle-column {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .puzzle-column > img {
    height: 12em;
    width: 12em;
  }

  .last-link-title {
    font-size: 1.2em;
  }
}

/* mobile views */
@media (min-width: 320px) and (max-width: 600px) {
  /* intro section container */
  .intro-section {
    flex-direction: column;
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 2.3em;
  }

  .intro-puzzle-container {
    max-height: 18em;
    max-width: 18em;
    margin: 0 auto;
  }

  .intro-piece {
    height: 8em;
    width: 8em;
  }

  /* about section */

  .about-info {
    min-width: 18.75em;
  }

  .about-content-wrapper {
    margin-top: 0;
  }

  /* skill section  */
  .skill-section {
    height: fit-content;
  }

  .puzzle-column {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .puzzle-column > img {
    height: 9.5em;
  }

  /* project section */
  .project-tile-container {
    padding: 2.5%;
  }

  /* contact section */
  .contact-container h2 {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
  }
  .social-links-container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .contact-section {
    height: 50vh;
    margin-bottom: 4.5em;
  }

  .link-style {
    width: 85%;
    height: 20%;
    max-width: 16.875em;
    margin-bottom: 1em;
  }

  .link-title {
    font-size: 1.5em;
  }

  .last-link-title {
    font-size: 1.2em;
  }
}
