* {
  color: #001324;
}
h1,
h2,
h3 {
  font-family: "Alice", serif;
}

h4,
p,
li {
  font-family: "Nunito", sans-serif;
}

section:not(#introSection) {
  margin-top: 10em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 1.7em;
  text-align: center;
}

li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
/** icon styles **/
.home-icon {
  height: 3em;
  width: 3em;
  color: blue;
}

img {
}

/** keyframes (maybe) **/

/** media queries **/
